html, body {
    margin: 0;
    height: 100%;
    background: #F2F2F2;
}
.head-ch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    border: 2px solid green;
}
.left{
    background: #FFFFFF;
    height: 844px;
    width: 390px;
    /* border: 2px solid red; */
}