@font-face {
  font-family: 'hahahihi';
  src: url('fonts/AlfaSlabOne-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope.ttf') format('truetype'); 
}



html, body {
    margin: 0;
    height: 100%;
    background: #F2F2F2;
}
.gigabox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}
.box{
    background: #FFFFFF;
    height: 844px;
    width: 390px;
}

.header2 {
    margin-top: 12px;
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 10px;
    /* width: 390px; */
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.left {
    margin-left: 12px;
}
.right {
    margin-right: 12px;
    display: flex;
    margin-left: auto;
    gap: 6px;
    
}

.phoneimg, .wifiimg, .batimg {
    width: 20px;
    height: 20px;
}

.study-big {
    display: block;
    margin: 40px auto 0;
    width: 211px;
    height: 290px;
}

.text11 { 
    position: absolute; 
    margin-top: -22px;
 }

.text-w {
    margin: auto;
    width: 220px;
    /* border: 2px solid green; */
}
 .welcome-w {
    font-family: hahahihi;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 20px;
    text-align: center;
 }

 .mt {
    margin: auto;
    /* border: 2px solid green;  */
    width: 313px;
 }

 .mtt {
    text-align: center;
    font-size: 16px;
    font-family: Manrope;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: rgba(106, 110, 113, 1);
 }

 .imgy {
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
 }

 .svgg {
    /* margin-right: 400px; */
    /* border: 2px solid red; */
 }
.lang {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* width: 340px; */
}

.btn2 {
    margin-top: 20px;
    display: block;
    width: 340px;
    height: 60px;
    border-radius: 15px;
    background-color: rgba(57, 150, 117, 1);
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.text-btn {
    color: white;
    text-transform: uppercase;
}   